@page
@model BadAssDogTreats_Website.Pages.StoreModel
@{
}
<link href="~/css/store.css" rel="stylesheet" />

<div class="store-container">
    <h1 class="store-text">Store Page</h1>
    <span>Shop our products with our safe and secure Store Page!</span>
    <div class="store-container2"></div>
</div>