@page
@model BadAssDogTreats_Website.Pages.BackEnd.ToDos.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="btn-back">
    <a asp-page="Index">
        <img src="~/Images/back_button_img.png" width="25" height="25" />
    </a>
</div>

<h1>Create ToDo Task</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToDo.Name" class="control-label"></label>
                <input asp-for="ToDo.Name" class="form-control" />
                <span asp-validation-for="ToDo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDo.Details" class="control-label"></label>
                <input asp-for="ToDo.Details" class="form-control" />
                <span asp-validation-for="ToDo.Details" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ToDo.Cost" class="control-label"></label>
                <input asp-for="ToDo.Cost" class="form-control" />
                <span asp-validation-for="ToDo.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDo.DueDate" class="control-label"></label>
                <input asp-for="ToDo.DueDate" class="form-control" />
                <span asp-validation-for="ToDo.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ToDo.Completed" /> @Html.DisplayNameFor(model => model.ToDo.Completed)
                </label>
            </div>

            <div class="form-group" style="margin-top:2%;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
